body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7eff5;
}

.container{
    text-align: center;
}

.container h2{
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
}

.color{
    color: lightskyblue;
}

.btn{
    background-color: transparent;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px ;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #222;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #3f3d3d;
    color: #dcdfe1;
    transition: all 0.3s ease-in-out;
}